# Python
__pycache__/
.venv/
38venv/
39venv/
311venv/

# LSP
.vscode/
compile_flags.txt

# View Configurations
view.toml
view.json
view_config.py

# Testing Files
*.test
app.py
test.py
a.py

# Logs
*.log
vgcore.*
valgrind.txt

# JavaScript
node_modules/
*.lock
benchmark.py
package-lock.json
client.js
.next/

# Builds
site/
dist/
build/
*.egg-info/
html/dist.css
*.so
a.md
