[version]
path = "src/view/__about__.py"

[build.targets.sdist]
only-include = ["src/"]

[build.targets.wheel]
packages = ["src/view"]

[envs.hatch-test]
extra-args = ["-vv"]
extra-dependencies = [
    "pytest-asyncio",
    "requests"
]

[[envs.hatch-test.matrix]]
python = ["3.14", "3.13", "3.12", "3.11", "3.10"]
