{% extends "base.html" %} {% block content %}

<nav className="bg-zinc-50 dark:bg-zinc-950">
    <div
        className="flex justify-between p-4 items-center flex-col md:flex-row space-y-2 md:space-y-0"
    >
        <p>Logo</p>
        <div>
            <p>Docs</p>
            <p>GitHub</p>
            <p>Discord</p>
        </div>
    </div>
    <div className="py-4">
        <hr className="border-t border-zinc-100 dark:border-zinc-900" />
    </div>
</nav>
<main className=""></main>

{% endblock %}
