@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Gabarito", sans-serif;
    @apply text-base;
}

h1 {
    @apply text-2xl md:text-4xl font-bold py-4;
}

h2 {
    @apply text-2xl md:text-3xl font-bold py-3;
}

h3 {
    @apply text-xl md:text-2xl font-bold py-2;
}

h4 {
    @apply font-bold py-1 text-xl;
}

p {
    @apply py-2 text-base;
}

pre {
    @apply rounded drop-shadow-md text-base;
}

a {
    @apply transition-opacity hover:opacity-50 duration-75 cursor-pointer bg-clip-text bg-gradient-to-r from-emerald-500 to-emerald-400 text-transparent;
}

code {
    @apply text-emerald-500 p-1 rounded bg-zinc-800 text-base;
}

ul {
    @apply list-disc pl-12;
}

ol {
    @apply list-decimal pl-12;
}

hr {
    @apply border-t border-zinc-700;
}

table {
    @apply w-full text-left p-4 bg-zinc-800 rounded drop-shadow-md;
}

thead {
    @apply p-2;
}

tbody {
    @apply p-2;
}

th td {
    @apply px-6 py-3 font-thin;
}

tr {
    @apply border-b;
}

th {
    @apply font-bold text-lg whitespace-nowrap;
}

.divider {
    @apply py-4;
}

.hljs {
    @apply bg-zinc-800;
}

.admonition {
    @apply bg-zinc-800 drop-shadow-lg p-2 rounded-lg py-1;
}

.admonition-title {
    @apply text-xl font-bold pb-1 text-emerald-300;
}

.note {
    @apply border-2 border-sky-300;
}

.warning {
    @apply border-2 border-amber-300;
}

.danger {
    @apply border-2 border-rose-300;
}

.danger-text {
    @apply text-rose-300;
}

.warning-text {
    @apply text-amber-300;
}

.note-text {
    @apply text-sky-300;
}
