@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

@media (prefers-color-scheme: dark) {
}

@font-face {
    font-family: "Modern Deco";
    src: url("/modern_deco.ttf");
}

body {
    font-family: "Inter", sans-serif;
}

.modern-deco {
    font-family: "Modern Deco", "Inter", sans-serif;
}

.hljs {
    @apply border-zinc-100 border rounded-lg;
}

a {
    @apply text-rose-600 hover:text-rose-500 transition-all;
}

.custom-shape-divider-bottom-1706484168 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1706484168 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 297px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1706484168 .shape-fill {
    fill: #18181b;
}

h1 {
    @apply pt-6 pb-12 text-5xl font-extrabold text-center bg-gradient-to-t from-zinc-400 to-black inline-block text-transparent bg-clip-text dark:from-zinc-400 dark:to-zinc-50;
}

.headerlink {
    @apply pl-2;
}

h2 {
    @apply text-3xl font-bold pt-4;
}

h3 {
    @apply text-xl font-bold pt-4;
}

.gradient {
    @apply bg-gradient-to-r from-rose-400 to-rose-700 inline-block text-transparent bg-clip-text font-bold dark:from-rose-600 dark:to-rose-800;
}

pre {
    @apply py-2;
}

p {
    @apply py-2 leading-loose;
}

code {
    @apply bg-zinc-100 rounded-lg p-1 border border-zinc-200 text-sm;
}

ul {
    @apply list-disc pl-6 flex flex-col space-y-2 py-2;
}

.headerlink {
    @apply text-zinc-600;
}

.headerlink.doc {
    @apply text-xs text-center;
}

.on-this-page {
    @apply text-zinc-500;
}

.doc-object {
    @apply border-zinc-100 border p-4 rounded-lg;
}

.doc-children {
    @apply py-2 flex flex-col space-y-3;
}

table {
    @apply w-full text-sm text-left rtl:text-right text-zinc-500 overflow-x-auto;
}

thead {
    @apply text-base text-zinc-700 uppercase bg-zinc-50 select-none cursor-pointer;
}

th {
    @apply px-6 py-3;
}

tr {
    @apply odd:bg-white even:bg-zinc-50 border-b;
}

td {
    @apply px-6 py-4;
}

.example {
    @apply pt-4;
}

.admonition {
    @apply border-zinc-100 border rounded-lg;
}

.admonition-title {
    @apply bg-zinc-50 text-xl font-bold;
}

.admonition p {
    @apply px-4;
}

.admonition pre {
    @apply text-xs p-2;
}

.admonition.question {
    @apply border-emerald-300;
}

.question .admonition-title {
    @apply bg-emerald-50 text-emerald-700;
}

.admonition.info {
    @apply border-blue-300;
}

.info .admonition-title {
    @apply bg-blue-50 text-blue-700;
}

.admonition.note {
    @apply border-indigo-300;
}

.note .admonition-title {
    @apply bg-indigo-50 text-indigo-700;
}

.admonition.danger {
    @apply border-rose-300;
}

.danger .admonition-title {
    @apply bg-rose-50 text-rose-700;
}

.admonition.warning {
    @apply border-orange-300;
}

.warning .admonition-title {
    @apply bg-orange-50 text-orange-700;
}

.doc-label-async code {
    @apply bg-indigo-100 text-indigo-500 rounded-lg p-1 font-bold border-0;
}

.doc-label-module-attribute code {
    @apply bg-sky-100 text-sky-500 rounded-lg p-1 font-bold border-0;
}

.doc-label-instance-attribute code {
    @apply bg-lime-100 text-lime-500 rounded-lg p-1 font-bold border-0;
}

.doc-label-class-attribute code {
    @apply bg-pink-100 text-pink-500 rounded-lg p-1 font-bold border-0;
}

.doc-label-classmethod code {
    @apply bg-violet-100 text-violet-500 rounded-lg p-1 font-bold border-0;
}

.doc-contents p {
    @apply text-zinc-500;
}

.doc-contents strong {
    @apply uppercase font-normal text-zinc-400;
}

.n {
    @apply text-blue-500;
}

.nb {
    @apply text-teal-500;
}

.kc {
    @apply text-indigo-500;
}

.mi {
    @apply text-green-500;
}

.s1 {
    @apply text-green-500;
}

.Typewriter__cursor {
    @apply text-black;
}

#mkdocs-search-results article {
    @apply rounded-lg border border-zinc-100 p-2;
}

#mkdocs-search-results p {
    @apply text-ellipsis italic break-words py-0;
}

#mkdocs-search-results p::after {
    content: "...";
}

.doc-contents {
    @apply overflow-x-auto;
}

.doc-symbol-function::before {
    @apply bg-red-100 text-red-500 rounded-lg p-1 font-bold border-0;
    content: "function";
}

.doc-symbol-class::before {
    @apply bg-amber-100 text-amber-500 rounded-lg p-1 font-bold border-0;
    content: "class";
}

.doc-symbol-attribute::before {
    @apply bg-cyan-100 text-cyan-500 rounded-lg p-1 font-bold border-0;
    content: "attr";
}

.doc-symbol-method::before {
    @apply bg-blue-100 text-blue-500 rounded-lg p-1 font-bold border-0;
    content: "method";
}
